<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This Course Management system, among other things, allows a user to register an account and view the list of courses and course offerings. An admin user will be able to, among other things, administer users, create a course, add faculty, and create a course offering (a course offered any given semester on any specified days and times)
</p>